.detail-cont svg {
    position: absolute;
    left: 0;
    top: 5px;
}
.detail-cont{
    position:relative;
    padding-left:25px;
}
.detail-complete::before {
    content: 'Completado';
    width: fit-content;
    background: #b58906;
    color:white;
    font-weight: 500;
    display: block;
    padding: 5px;
    border-radius: 5px;
}