*{
  font-family: Poppins;
}
section > .container{
  margin: 20px auto;
}
.progress {
  margin-top:5px;
}
@media screen and (min-width: 769px){
  h3 {
    line-height: 1.33;
  }
}
@media screen and (max-width: 768px){
  video{
    max-width: 100%;
    height: auto;
  }
}